.container {
  padding: 50px 32px 68px;
}

.elementTitle {
  color: $primary;
  font-size: 36px;
  margin: 0 0 36px;
  font-weight: 400;
  line-height: 2;

  &::after {
    content: '';
    display: block;
    margin: 0 auto;
    height: 4px;
    width: 50px;
    background-color: $secondary;
  }
}

.elementSubTitle {
  font-size: 26px;
  margin-bottom: 18px;
  font-weight: 400;
}

p {
  font-size: 18px;
  line-height: 1.8;
  color: $gray;
}

.button {
  color: #fff !important;
}

.button--primary {
  background-color: $primary !important;
}

.button--secondary {
  background-color: $secondary !important;
}

.gray-background {
  background-color: $gray-light;
}