.hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/images/hero.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.hero__image {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  object-fit: cover;
  object-position: top;
}

.hero__subtitle {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
}