.slide {
  background-color: $gray-light;
  padding: 24px;
  margin: 0 6px;
}

.slide__name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
}

.slide__title {
  color: $gray-medium;
  font-size: 14px;
  margin-bottom: 10px;
}

.slide__text {
  font-style: italic;
}
