.contact {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/images/contact.jpg");
  background-size: cover;
  background-position: center;
}

.elementTitle--background {
  color: #fff;

  &::after {
    background-color: #fff;
  }
}

.elementSubTitle--background {
  color: #fff;
  font-weight: bold;
}

.label {
  color: #fff;
}

p {
  color: #fff;
}

.col-12 {
  p:last-child {
    margin-bottom: 0;
  }
}

a {
  color: #fff !important;
  text-decoration: none;
}

